<body>
  <ion-app>
    <app-header-close></app-header-close>
    <ion-item color="primary">
      <ion-icon name="bulb-outline" slot="start"></ion-icon>
      <ion-label>Nota</ion-label>
    </ion-item>
    <ion-content fullscreen>
      <ion-list class="ion-no-margin">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-input type="text"
                         placeholder="Título"
                         [(ngModel)]="post.tituloTarea"
                         required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea type="text"
                            placeholder="Crear una nota"
                            [(ngModel)]="post.descripcionTarea"
                            required></ion-textarea>

            </ion-item>
            <ion-item lines="none">
              <ion-button fill="clear" slot="end" class="btn-files">
                <ion-icon slot="icon-only"
                          name="attach-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img  src="../../../assets/no-img.png">
              </ion-avatar>
              <ion-label>
                <h3>Nombre del usuario</h3>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ion-app>
</body>
