ion-content {
  --ion-background-color:#fafafa;
}

ion-label {
  margin-right: 7px !important;
}

.btn-new-task {
  display: block;
  margin-top: 12px !important;
}

.label-badge {
  display: flex;
}


