<app-header-expediente titulo="Expedientes"></app-header-expediente>

<ion-searchbar placeholder="Buscar expediente"
               inputmode="text"
               (ionChange)="onSearchChange($event)"
               debounce="250"
               animated></ion-searchbar>

<ion-content>
   <!--Refresher-->
   <!-- <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <!--Renderizar expedientes -->
  <app-posts-expedientes [judgments]="judgments | filtroExpediente: textoBuscar: 'nombreExpediente'"></app-posts-expedientes>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="formExpediente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
