.center-img, .txt-img{
  justify-content: center;
  display: flex;
  align-items: center;
}

.img-size {
  width: 50%;
  height: 50%;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

