<app-header-close></app-header-close>

<ion-content *ngIf="load">
  <ion-card>
    <ion-item color="primary">
      <ion-label>{{ judgment.nombreExpediente }}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-card-subtitle>Número de expediente: {{ judgment.numExpediente }}</ion-card-subtitle>
      <ion-text class="sintesis">
        <h5><sub>Síntesis u Observaciones</sub></h5>
      </ion-text>
      <ion-text>
        <p>{{ judgment.sintesisAsunto }}</p>
      </ion-text>
      <ion-chip color="primary">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label color="medium">{{ judgment.materia }}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label color="medium">{{ judgment.tipo }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="7">
          <ion-button expand="full"
                      shape="round">
            <ion-icon slot="end" name="document-attach-outline"></ion-icon>
            Documentos
          </ion-button>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="full"
                      shape="round">
            <ion-icon slot="end" name="calendar-outline"></ion-icon>
            Tareas
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label><h3>Información adicional</h3></ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="judgment.nombreCliente.img | imagen: 'clientes'">
        </ion-avatar>
        <ion-icon color="primary" slot="end" name="open-outline"></ion-icon>
        <ion-label>
          <h3><sub>Cliente</sub></h3>
          <h3>{{ judgment.nombreCliente.nombre }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="judgment.nombreCliente.img | imagen: 'clientes'">
        </ion-avatar>
        <ion-icon color="primary" slot="end" name="open-outline"></ion-icon>
        <ion-label>
          <h3><sub>Abogado</sub></h3>
          <h3>{{ judgment.nombreAbogado }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="judgment.nombreCliente.img | imagen: 'clientes'">
        </ion-avatar>
        <ion-icon color="primary" slot="end" name="open-outline"></ion-icon>
        <ion-label>
          <h3><sub>Abogado Contraparte</sub></h3>
          <h3>{{ judgment.nombreAbogado }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="judgment.nombreCliente.img | imagen: 'clientes'">
        </ion-avatar>
        <ion-icon color="primary" slot="end" name="location-outline"></ion-icon>
        <ion-label>
          <h3><sub>Instancia Judicial</sub></h3>
          <h3>{{ judgment.institucionJudicial }}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Mapa -->
</ion-content>
