<app-header-close></app-header-close>

<ion-content *ngIf="load">
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary">{{judgment.nombreExpediente}}</ion-card-title>
      <ion-card-subtitle>{{judgment.numExpediente}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Síntesis u Observaciones</ion-card-subtitle>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <p>{{judgment.sintesisAsunto}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- Opciones -->
  <ion-slides [options]="slideChips">
    <ion-slide>
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label color="medium">{{judgment.materia}}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label color="medium">{{judgment.tipo}}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-icon name="document-attach-outline"></ion-icon>
        <ion-label color="medium">Documentos</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label color="medium">Tareas</ion-label>
      </ion-chip>
    </ion-slide>
  </ion-slides>
  <!-- Personajes -->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-row>
        <ion-col size="4">
          <ion-card class="card_cliente">
            <img [src]="judgment.nombreCliente.img | imagen: 'clientes'">
            <ion-label class="nombre_cliente">{{ judgment.nombreCliente.nombre | slice: 0:28 }} {{ (judgment.nombreCliente.nombre.length > 28) ? '...' : '' }}</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card_abogado">
            <img src="../../../../assets/no-img.png">
            <ion-label class="nombre_abogado">{{judgment.nombreAbogado | slice: 0:28 }} {{ (judgment.nombreAbogado.length > 28) ? '...' : '' }}</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card_contraparte">
            <img src="../../../../assets/no-img.png">
            <ion-label class="nombre_contraparte">{{judgment.nombreContraparte | slice: 0:28 }} {{ (judgment.nombreContraparte.length > 28) ? '...' : '' }}</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <!-- Mapa -->
  <ion-list>
    <ion-item>
      <ion-icon color="primary" slot="end" name="trail-sign-outline"></ion-icon>
      <ion-label>{{judgment.institucionJudicial}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
