ion-card-content {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

ion-chip {
  --background: #fafafa !important
}

label, .label-icon {
  color: #fafafa;
}

.post-tarea {
  margin-bottom: -30px;
  border-left: 3px solid #aa00ff;
  -webkit-box-shadow: 0 2px 5px -5px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
}

.num-documentos {
  color: #424242;
  margin-top: 6px;
}

.icon-num-documents {
  --color: #424242;
  font-size: 15px;
}




